<div class="panel panel-default center-block">
  <div class="panel-body">
    <%= form_tag("/admin/login", method: "post") do %>
      <% if flash[:error] %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:error].html_safe %>
        </div>
      <% end %>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="login[username]" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="login[password]" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
    <% end %>
    </form>
  </div>
</div>
